<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/">MEOT</a><br/>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/">
                <i class="bi-house"></i>&nbsp; Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="TrendingAnalysis">
                <i class="bi-stack"></i>&nbsp; Trending Analysis
            </NavLink>
        </li>
    </ul>
</div>

<div style="font-size: x-small; color: white; text-align: center">
    Version 2021.3.9 | Source on <a href="https://github.com/jcapellman/MEOT" target="_blank">Github</a><br/>
    (C) 2021 <a href="https://github.com/jcapellman" target="_blank">Jarred Capellman</a>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
