@page "/Settings"

@using MEOT.lib.DAL.Base
@using MEOT.lib.Objects

@inject IDAL db

<h1>Settings</h1>

<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Hours Between Checks
        
            <InputNumber id="intervalforchecks" @bind-Value="model.HoursBetweenChecks" />
        </label>
    </p>
    
    <h3>Source License Keys</h3>
    @foreach (var source in model.Sources)
    {
        <p>
            <label>
                @source.Key
                
                <input id="@source.Key" @bind="model.Sources[source.Key]" size="80" />
                
            </label>
        </p>
    }

    <button type="submit" class="btn btn-primary btn-rounded"><i class="bi-save"></i>&nbsp; Save</button>
</EditForm>

@code {
    private Settings model = new Settings();

    private bool IsNew = false;

    protected override void OnInitialized()
    {
        model = db.SelectFirstOrDefault<Settings>();

        if (model != null)
        {
            return;
        }

        model = new Settings();

        IsNew = true;
    }

    private void HandleValidSubmit()
    {
        if (IsNew)
        {
            db.Insert(model);
        }
        else
        {
            db.Update(model);
        }
    }
}