@page "/ManageUsers"

@using MEOT.lib.Managers
@using MEOT.lib.Objects

@inherits BaseRazorPage

@inject UserManager userManager
@inject NavigationManager NavManager

<h1>Users</h1>

<button @onclick="AddUser" class="btn btn-primary btn-rounded"><i class="bi-person-plus"></i>&nbsp; New User</button>

<br/>

@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Last Modified</th>
                <th>Email Address</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td>@user.Modified</td>
                    <td>@user.EmailAddress</td>
                    <td>@user.Role</td>
                    <td>
                        <button class="btn btn-rounded" @onclick="() => EditUser(user)" title="Edit"><i class="bi-file-earmark-text"></i></button>

                        <button class="btn btn-rounded" @onclick="() => DeleteUser(user)" title="Delete"><i class="bi-trash"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<User> users;

    protected void AddUser()
    {
        NavManager.NavigateTo("/AddEditUser");
    }

    protected void DeleteUser(User user)
    {
        userManager.DeleteUserById(user.Id);

        users = userManager.GetUsers();
    }

    protected void EditUser(User user)
    {
        NavManager.NavigateTo($"/AddEditUser/{user.Id}");
    }

    protected override void OnInitialized()
    {
        if (!IsAuthenticated)
        {
            RedirectHome(NavManager);

            return;
        }

        users = userManager.GetUsers();
    }
}
